metrics/src/test/resources/metrics/tshirt2.wsdl

<?xml version="1.0"?>

<wsdl:definitions name="TshirtService" targetNamespace="http://mulesoft.org/tshirt-service"
                  xmlns:ms="http://mulesoft.org/tshirt-service" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

    <wsdl:types>

        <xsd:schema targetNamespace="http://mulesoft.org/tshirt-service" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

            <xsd:simpleType  name="Size">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="S"/>
                    <xsd:enumeration value="M"/>
                    <xsd:enumeration value="L"/>
                    <xsd:enumeration value="XL"/>
                    <xsd:enumeration value="XXL"/>
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:element name="OrderTshirt">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="size" type="ms:Size" />
                        <xsd:element name="email" type="xsd:string" />
                        <xsd:element name="name" type="xsd:string" />
                        <xsd:element name="address1" type="xsd:string" />
                        <xsd:element name="address2" type="xsd:string" />
                        <xsd:element name="city" type="xsd:string" />
                        <xsd:element name="stateOrProvince" type="xsd:string" />
                        <xsd:element name="postalCode" type="xsd:string" />
                        <xsd:element name="country" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="OrderTshirtResponse">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="orderId" type="xsd:string" />
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="AuthenticationHeader">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="apiKey" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="APIUsageInformation">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="apiCallsRemaining" type="xsd:integer" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="TshirtFault">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="errorStuff" type="xsd:integer" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="OrderTshirt">
        <wsdl:part name="body" element="ms:OrderTshirt" />
    </wsdl:message>

    <wsdl:message name="OrderTshirtResponse">
        <wsdl:part name="body" element="ms:OrderTshirtResponse" />
    </wsdl:message>

    <wsdl:message name="TshirtFault">
        <wsdl:part name="fault" element="ms:TshirtFault" />
    </wsdl:message>

    <wsdl:message name="APIUsageInformation">
        <wsdl:part name="header" element="ms:APIUsageInformation" />
    </wsdl:message>

    <wsdl:message name="AuthenticationHeader">
        <wsdl:part name="header" element="ms:AuthenticationHeader" />
    </wsdl:message>

    <!-- wsdl:portType describes messages in an operation -->
    <wsdl:portType name="TshirtServicePortType">

        <wsdl:operation name="OrderTshirt">
            <wsdl:input message="ms:OrderTshirt" />
            <wsdl:output message="ms:OrderTshirtResponse" />
            <wsdl:fault name="TshirtFault" message="ms:TshirtFault" />
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="TshirtServiceSoapBinding" type="ms:TshirtServicePortType">

        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />

        <wsdl:operation name="OrderTshirt">

            <soap:operation soapAction="http://mulesoft.org/tshirt-service/order-tshirt" />

            <wsdl:input>
                <soap:body use="literal" namespace="http://mulesoft.org/tshirt-service" />
                <soap:header use="literal" part="header" message="ms:AuthenticationHeader"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://mulesoft.org/tshirt-service" />
                <soap:header use="literal" part="header" message="ms:APIUsageInformation"/>
            </wsdl:output>
            <wsdl:fault name="TshirtFault">
                <soap:body use="literal" namespace="http://mulesoft.org/tshirt-service" />
                <soap:header use="literal" part="header" message="ms:APIUsageInformation"/>
            </wsdl:fault>

        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="TshirtService">
        <wsdl:documentation></wsdl:documentation>

        <!-- connect it to the binding "EndorsementSearchSoapBinding" above -->
        <wsdl:port name="TshirtServicePort" binding="ms:TshirtServiceSoapBinding">

            <!-- give the binding an network address -->
            <soap:address location="http://localhost:8088/tshirtService" />
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>